
<html>
	<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1XTFM65VS2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1XTFM65VS2');
</script>
	<meta charset=“UTF-8”>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,bold,900,600">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <!-- Custom styles for this template -->
 		 <link href="css/custom.css" rel="stylesheet">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<title>Optical Lens Attack</title>
	</head>
	<body>
		<div class = "global_container">
			<div class = "section"  >		
				<!--<img width = "800px" src="logo.png" alt="Logo">-->
				<h1>Optical Lens Attack on Monocular Depth Estimation based Autonomous Driving </h1>
				
				<div class ="boxed">
					<p> In this paper, we explore new security risks associated with the monocular vision-based depth estimation algorithms used in AD systems. By exploiting the weaknesses of the monocular depth estimation and the optical principles for lenses, we propose OpticalLensAttack, a physical world attack that is implemented by placing optical lenses in front of the car camera to alter the sensed object depth. OpticalLensAttack includes two distinctive attack formats, concave lens attack and convex lens attack, which leverage different optical lenses to cause false depth perception. We first mathematically model our attack with various attack parameters. Then, we simulate our attack in the digital world and evaluate its performance physically in driving scenarios to demonstrate its impact on monocular depth estimation models. We also explore attack optimization to improve attack accuracy. The results indicate the potential security concerns of the proposed attacks on the AD systems.</p>
					
			
			<br>
			<h1>Attack Experimental Setup</h1>
				<img width = "800px" src="setup.png" alt="device">

				
				
				
				

				

				 <div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
      
			
 </div>
</div>


					
						
						
						
						
						
				<h1> </h1>
					<div class ="boxed" style="margin-top=3em;">							
						<p class="text-center"></p>
						<div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
							<div>
									<div style = "height:10px"></div>
						</a>
      				
 </div>
</div>


				<h1>Optical Lens Attack Demonstration</h1>
				
				<h2>Attacks in Real World Driving Test</h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/G0mjvUqtZ_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<h1>Physical Static Attacks</h1>							
				<h2>Concave Lens Attack</h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/jikqw7iXTwk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				<h2>Convex Lens Attack</h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/jikqw7iXTwk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
					</div>
			 		</div>
					</div>	
				<div>
	
	</body>
</html>
